importFrom(graphics, plot, barplot, boxplot)
import(BiocGenerics)
import(Biobase)
importFrom(aroma.light, normalizeQuantileRank)
importMethodsFrom(IRanges, width, lapply, as.list)
importClassesFrom(DESeq, CountDataSet)
importFrom(DESeq, newCountDataSet)
importClassesFrom(Rsamtools,BamFileList)
importClassesFrom(ShortRead, FastqFileList)
importMethodsFrom(ShortRead, readFastq, alphabetByCycle, sread)
exportClasses(SeqExpressionSet)
exportMethods(length, width, initialize, barplot, plot, plotQuality, exprs, offst, "offst<-", boxplot,
              meanVarPlot, biasPlot, plotNtFrequency, withinLaneNormalization, betweenLaneNormalization,
              biasBoxplot, MDPlot, plotRLE, plotPCA, normCounts, "normCounts<-", counts, "counts<-")
export(newSeqExpressionSet,plotQuality)
