importFrom(graphics, plot, barplot, boxplot)
import(BiocGenerics)
import(Biobase)
importFrom(aroma.light, normalizeQuantileRank)
importMethodsFrom(IRanges, width, lapply, as.list)
importFrom(IRanges, IRanges, ranges)
importClassesFrom(DESeq, CountDataSet)
importFrom(DESeq, newCountDataSet)
importClassesFrom(Rsamtools,BamFileList)
importFrom(Rsamtools, ScanBamParam, scanBam, countBam)
importClassesFrom(ShortRead, FastqFileList)
importMethodsFrom(ShortRead, readFastq, alphabetByCycle, sread)
importFrom("biomaRt", getBM, getSequence, listDatasets, useDataset, useMart, getGene)
importClassesFrom("Biostrings", DNAString)
importMethodsFrom("Biostrings", getSeq, alphabetFrequency)
importFrom("Biostrings", DNAString)
importFrom(AnnotationDbi, mapIds)
importFrom(GenomicFeatures, exonsBy)
importFrom(GenomicRanges, GRanges, GRangesList)
importMethodsFrom(GenomicRanges, reduce)
exportClasses(SeqExpressionSet)
exportMethods(length, width, initialize, barplot, plot, plotQuality, exprs, offst, "offst<-", boxplot,
              meanVarPlot, biasPlot, plotNtFrequency, withinLaneNormalization, betweenLaneNormalization,
              biasBoxplot, MDPlot, plotRLE, plotPCA, normCounts, "normCounts<-", counts, "counts<-")
export(newSeqExpressionSet,plotQuality)
export(getGeneLengthAndGCContent)
importFrom("grDevices", "rainbow")
importFrom("graphics", "abline", "legend", "lines", "matplot", "pairs",
           "points", "smoothScatter", "text")
importFrom("methods", "as", "callNextMethod", "new", "validObject")
importFrom("stats", "loess", "lowess", "median", "predict", "quantile")
importFrom("utils", "available.packages", "install.packages")
